body {
    color: #744d29;
    font-family: 'Muli', serif;
    font-size: 12px;
}

html, body, .main-wrapper, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

      
#map-canvas {
    width: 100%;
}


.labels-me {
    color: green;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    border: 2px solid green;
    white-space: nowrap;
}
.labels-pal {
    color: orange;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    border: 2px solid orange;
    white-space: nowrap;
}


      
/* FONT STYLES
================================= */
a {
    text-decoration: none;
    color: #FBEA11;
}

h1 {
    color: #744d29;
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    position: absolute;
    top: -15px;
    margin-bottom: 10px;
    letter-spacing: .1em;
    font-weight: 700;
}

h2 {
    color: #744d29;
    font-family: 'Muli', serif;
    font-size: 1rem;
}

h4 {
    font-size: 1.2rem;
}

/* MAIN LAYOUTS & STYLES
=================================  */

.header{
    background-color: #FC923B;
    padding: 10px;
    border-bottom: solid 2px #744d29;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.title {
    color: #744d29;
}

.inline{
    display: inline-block;
}

.right{
    float: right;
}

.left{
    float: left;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container{
    position: relative;
    height: 200px;
}

.button{
    display: block;
}

.tagline {
    position: absolute;
    top: 45px;
}

.logo {
    padding-right: 20px;
    width: 79.5px;
}

.private-code{
    background-color: #F8A541;
    padding: 3px 0px;
    max-height: 30px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.private-code::last{
    margin-top: 0;
}

#private-code{
    padding-top: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#googlemaps{
    background-color: #F9F5ED;
    padding: 10px;
}

.footer{
    background-color: #FC923B;
    border-top: solid 2px #744d29;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    padding-bottom: 0px;
}

.bar{
    margin-top: 0;
    margin-bottom: 0;
}

.nav, .nav li{
    display: inline-block;
    margin-top: 0;
    list-style: none;
}

.main-content {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.main-content a {
    color: #FC923B;
    
}

.extra-space {
    padding-top: 90px;
}


/* CLEARFIX
=================================  */
.group::after {
    content: " ";
    display: table;
    clear: both;
}

/* MEDIA QUERIES
================================= */
@media (min-width: 780px) {
  body {
    font-size: 16px;
  }
  
  h1 {
      font-size: 2.25em;
  }
  
  h2 {
      font-size: 1rem;
  }
  
  h4 {
      font-size: 1.11rem;
  }

}
